<p>
＜このサイトの使い方＞<br>
当サイトはペットオーナーさんのお気に入り写真（10枚程度）を見て回るだけのシンプルなサイトです。</br>
オーナーとしてペット写真を登録することもできます。
</P>
<div class="card-header">
＜写真およびコメントの登録について＞<br>
①メールアドレスを登録してアカウントを作成しログインします。</br>
（ご登録いただいたメールアドレスは当サイトの利用手続き以外の目的で使用することはございません）</br>
</div>
<div class="card">
<div class="card-body">
②ログインすると、当サイトで入居権が3部屋分付与されますので<br>
それを使って入居して写真やコメントを登録してみてください。</br>
（部屋は入居権の範囲で引越・再入居ができます）
</div>
</div>
<div class="card-header">
③ペット写真以外は登録しないよう何卒ご協力お願いします。<br>
</div>
<div class="card">
<div class="card-body">
④ログインユーザーは他のオーナーさんの部屋にビジターコメントを記入することもできます。<br>
ページの下部に記入欄が表示されますので写真の感想や応援コメントを記入してみてください。</br>
</div>
</div>
<div class="card-header">
⑤ユーザーは他のオーナーさんの部屋でペット写真以外の掲載を見かけた場合に<br>
画像アラートの報告をすることもできます（１ユーザー５回まで）。<br>
各部屋には情報として報告件数が表示されます。<br>
</div>
<div class="card">
<div class="card-body">
ペットの可愛さを楽しむだけのシンプルなサイトとして作りましたので</br>
あまり機能はありませんが、気軽にお楽しみいただければ幸いです。</br>
（サイトは管理人の可能な範囲でできるだけ長く続けたいと考えています）<br>
</div>
</div>
<div class="card-header">
適切なご利用をよろしくお願いいたします。
