<div class="page-header">
<h5>入力内容が確認できません。</br></br>
お手数ですが</br>
・ペットの名前が入力されていること</br>
・写真が指定のファイルタイプであること</br></br>
をご確認のうえ、再度ご入力ください。
</h5>
</div>
</br>
<%= link_to '玄関ロビーへ', root_path, class: 'btn btn-secondary' %>
</br>
