<p>ようこそ<%= @resource.email %>さん</p>

<p>パスワード再作成の依頼がありました。下記のリンクからパスワードの再作成を行ってください</p>

<p><%= link_to 'パスワード再作成', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>（パスワード再作成しない場合、本メールでの手続きは不要です）</p>
